.empty {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255, 0);
    margin: 0px;
    color: white;
  }
  
  .empty h1 {
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: Arial, Helvetica, sans-serif;
  }