.mangadetails-pane {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: rows;
    /* background-color: orange; */
  }

.content-details{
    border-radius: 10px;
    /* background-color: red;   */
    display: flex;
    flex: 1;
    margin: 10px;
    overflow: hidden;

    height: 92vh;
}

.content-description{
    border-radius: 10px;
    /* background-color: pink;  */
    display: flex;
    flex: 1;
    padding: 10px;
    margin: 10px;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    overflow-y: scroll;

    height: 25vh;
    max-height: 25vh;
}

.content-description h1{
    font-size: 1.8em;
    text-align: left;
    margin: 0px;
    margin-bottom: 20px;
    padding: 0px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.content-description h3{
    font-size: 1.3em;
    text-align: left;
    margin: 0px;
    padding: 0px;
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content-details-image{
    width: auto; /* set the width of the image */
    height: 400px; /* maintain aspect ratio */
    border: 2px solid white;
    border-radius: 10px;	
    overflow: hidden;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5);
    margin-bottom: 20px;
}

.content-details-image > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


.content-details-info{
    border-radius: 10px;
    background-color: rgb(255, 255, 255, 0.05); 
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid white;
}

.content-details-info h3{
    padding: 5px 0px 0px 5px;
    margin: 0px;

    color: rgba(222, 251, 255, 0.5);
    font-size: 0.9em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#content-details-label{
    color: white;
    font-size: 1em;
}

.content-details-container{
    border-radius: 10px;
    /* background-color: rgb(23, 85, 66);  */
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 10px;
}

.content-description-container{
    border-radius: 10px;
    /* background-color: blue;  */
    display: flex;
    flex: 4;
    padding: 10px;
    margin: 10px;
    flex-direction: column;

    overflow-y: scroll;
}

.content-episodes-and-relations{
    border-radius: 10px;
    /* background-color: green;  */
    flex: 3;
    padding: 10px;
    margin: 10px;

    display: flex;
    flex-direction: column;
    
}

.content-relations-item-container{
    flex: 4;
    background-color: bisque;
    grid-template-columns: repeat(2, 1fr); /* added */
    gap: 10px; /* added */
    display: grid; /* changed from flex */

    height: 250px;
    overflow: auto;

    padding: 20px;
 
}

.content-relations {
  margin: 10px;
  border-radius: 10px;
  flex: 1;
  
  flex-wrap: nowrap; /* change this */
  border: 2px solid gray;
}

.content-relations-item {
  width: 90%;
  height: 120px;
  padding: 10px 0px;
  margin: 10px 0px 10px 20px;
  overflow: hidden;
  background-color: rgb(255, 255, 255, 0.05);
  transition: transform 0.2s;
  border-radius: 10px;

  display: flex;
  flex-direction: rows;
}

.content-relations-item:hover{
  transform: scale(1.05);
  transition: transform 0.2s;
  cursor: pointer;
}

.content-relations-item h3{
  margin: 0;
  padding: 0px 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

.content-relations-item h4{
  margin: 0;
  padding: 0px 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: bisque;
}

.content-relations-item-image {
  height: 150px;
  object-fit: cover;
}

.content-episodes-item-container{
  /* background-color: red; */
  width: auto;
  height: 60vh;

  grid-template-columns: repeat(4, 1fr); /* added */
  gap: 10px; /* added */
  display: grid; /* changed from flex */
  overflow: auto;
  border: 2px solid gray;

  border-radius: 10px;
  margin: 10px;
}

.content-episodes-item-image{
  height: 120px;
  object-fit: cover;
}

.content-episodes-item{
  /* background-color: orange; */
  border-radius: 15px;
  background-color: rgb(255, 255, 255, 0.05);
  overflow: hidden;
  height: 120px;

  background-size: 100% 100%;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  
  margin: 12px;
  cursor: pointer;

  border: 1px solid gray;
}

.content-episodes-item-text-container {
  display: flex;
  justify-content: center;
  align-items: center;

  color: rgba(255, 255, 255, 1);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1em;

  height: 50px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
}

.content-episodes-item:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
  filter: brightness(60%);
}

.content-episodes-item-type{
  margin: 0px;
  padding: 0px;  
}

.content-episodes-item-title{
  margin: 0px;
  padding: 0px;  
}


.content-episodes{
    /* background-color: blue;  */
    border-radius: 10px;
    flex: 4;
    flex-wrap: nowrap; /* change this */
}

iframe{
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 0px solid white;
    margin-left: 0px;
}