.sidemenu-container {
  border-radius: 0px 10px 10px 0px;
  width: 100px;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden; 
  background: rgba(255, 255, 255, 0);
}

.sidemenu-button{
  -webkit-app-region: none;
  width: 100%;
  height: 50px;
  background-size: 30px auto;
  background-position: left;
  background-repeat: no-repeat;
  image-rendering: -webkit-optimize-contrast; /* Safari/Chrome */
  color: white;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.sidemenu-button-selector {
  position: flex;
  width: 10px;
  height: 100%;
  align-items: left;
  left: 0;
  border-radius: 0px 10px 10px 0px;
}

.sidemenu-button-img{
  background-size: 30px auto;
  background-position: left;
  background-repeat: no-repeat;
  image-rendering: -webkit-optimize-contrast; /* Safari/Chrome */
  width: 30px;
  height: 100%; 
  margin-left: 20px;
}


/* ANIMATIONS */

/* Define the keyframes */
@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* WHEN A BUTTON IS ACTIVE */
.active-button {
  background-color: rgba(255, 255, 255, 0);
  opacity: 0.7;
}

.iactive-button {
  background-color: rgba(255, 255, 255, 0);
}

/* WHEN A BUTTON IS BEING HOVERED ON */

.sidemenu-button:hover{
  background-color: rgba(255, 255, 255, 0);
  border-radius: 0px 15px 15px 0px;
}

.sidemenu-button:active{
  background-color: rgba(255, 255, 255, 0);
}


.sidemenu-button-selector-active {
  background-color: rgb(255, 255, 255);

  transform: scale(1.2);
  filter: brightness(100%) saturate(100%) contrast(100%);
  transition: all 0.5s ease-in-out;
}

.sidemenu-button-selector-inactive {
  background-color: rgba(255, 255, 255, 0.1);

  transform: scale(1);
  transition: all 0.3s ease-in-out;
}

/* SEARCH BUTTON */
.sidemenu-search-img-active {
  background-image: url("../../assets/sidemenu/search-active.svg");
}
.sidemenu-search-img-inactive {
  background-image: url("../../assets/sidemenu/search-inactive.svg");
}
#sidemenu-search:hover > #sidemenu-search-selector:not(.sidemenu-button-selector-active) {
  background-color: rgb(121, 120, 120);
}
#sidemenu-search:hover > #sidemenu-search-img{
  background-image: url("../../assets/sidemenu/search-active.svg");
}


/* DOWNLOADS BUTTON */
.sidemenu-anilist-img-active {
  background-image: url("../../assets/sidemenu/house-fill-active.svg");
}
.sidemenu-anilist-img-inactive {
  background-image: url("../../assets/sidemenu/house-fill-inactive.svg");
}
#sidemenu-anilist:hover > #sidemenu-anilist-selector:not(.sidemenu-button-selector-active) {
  background-color: rgb(121, 120, 120);
}
#sidemenu-anilist:hover > #sidemenu-anilist-img{
  background-image: url("../../assets/sidemenu/house-fill-active.svg");
}

/* SETTINGS BUTTON */
.sidemenu-settings-img-active {
  background-image: url("../../assets/sidemenu/settings-active.svg");
}
.sidemenu-settings-img-inactive {
  background-image: url("../../assets/sidemenu/settings-inactive.svg");
}
#sidemenu-settings:hover > #sidemenu-settings-selector:not(.sidemenu-button-selector-active) {
  background-color: rgb(121, 120, 120);
}
#sidemenu-settings:hover > #sidemenu-settings-img{
  background-image: url("../../assets/sidemenu/settings-active.svg");
}

/* HOT BUTTON */
.sidemenu-hot-img-active {
  background-image: url("../../assets/sidemenu/hot-active.svg");
}
.sidemenu-hot-img-inactive {
  background-image: url("../../assets/sidemenu/hot-inactive.svg");
}
#sidemenu-hot:hover > #sidemenu-hot-selector:not(.sidemenu-button-selector-active) {
  background-color: rgb(121, 120, 120);
}
#sidemenu-hot:hover > #sidemenu-hot-img{
  background-image: url("../../assets/sidemenu/hot-active.svg");
}

/* MEDIA BUTTON */
.sidemenu-media-img-active {
  background-image: url("../../assets/sidemenu/media-active.svg");
}
.sidemenu-media-img-inactive {
  background-image: url("../../assets/sidemenu/media-inactive.svg");
}
#sidemenu-media:hover > #sidemenu-media-selector:not(.sidemenu-button-selector-active) {
  background-color: rgb(121, 120, 120);
}
#sidemenu-media:hover > #sidemenu-media-img{
  background-image: url("../../assets/sidemenu/media-active.svg");
}

/* MANGA BUTTON */
.sidemenu-mangaSearch-img-active {
  background-image: url("../../assets/sidemenu/mangaSearch-active.svg");
}
.sidemenu-mangaSearch-img-inactive {
  background-image: url("../../assets/sidemenu/mangaSearch-inactive.svg");
}
#sidemenu-mangaSearch:hover > #sidemenu-mangaSearch-selector:not(.sidemenu-button-selector-active) {
  background-color: rgb(121, 120, 120);
}
#sidemenu-mangaSearch:hover > #sidemenu-mangaSearch-img{
  background-image: url("../../assets/sidemenu/mangaSearch-active.svg");
}

/* BACKGROUND BUTTON */
.sidemenu-background-change-img-active {
  background-image: url("../../assets/sidemenu/background-change-active.svg");
}
.sidemenu-background-change-img-inactive {
  background-image: url("../../assets/sidemenu/background-change-inactive.svg");
}
#sidemenu-background-change:hover > #sidemenu-background-change-selector:not(.sidemenu-button-selector-active) {
  background-color: rgb(121, 120, 120);
}
#sidemenu-background-change:hover > #sidemenu-background-change-img{
  background-image: url("../../assets/sidemenu/background-change-active.svg");
}


/*background_changer-active*/