:root {
    --primary-color: rgba(255, 255, 255, 0.3);
    --secondary-color: rgba(255, 255, 255, 0.15);
  }

/* when hovering over scrollbar */
::-webkit-scrollbar-thumb:hover {
    background-color: var(--secondary-color);
}

/* color of the scrollbar thumb */
::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 10px 0px 0px 10px;
    box-shadow: inset 0 0 6px var(--secondary-color);
}